.elementor-3474 .elementor-element.elementor-element-7d113837 > .elementor-container {
    min-height: 100vh;
}

.elementor-3474 .elementor-element.elementor-element-7d113837 > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3474 .elementor-element.elementor-element-7d113837:not(.elementor-motion-effects-element-type-background), .elementor-3474 .elementor-element.elementor-element-7d113837 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #1C1B40;
}

.elementor-3474 .elementor-element.elementor-element-7d113837 > .elementor-background-overlay {
    background-color: #1c1b40;
    background-image: url(./../images/taxes.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.11;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3474 .elementor-element.elementor-element-7d113837 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0em 0em 0em 0em;
}

.elementor-3474 .elementor-element.elementor-element-6d6b0f38.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-3474 .elementor-element.elementor-element-6d6b0f38 > .elementor-element-populated {
    margin: 0% 0% 0% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%;
}

.elementor-3474 .elementor-element.elementor-element-6d6b0f38 {
    z-index: 1;
}

.elementor-3474 .elementor-element.elementor-element-b46114e {
    --spacer-size: 50px;
    width: var( --container-widget-width, 50px );
    max-width: 50px;
    --container-widget-width: 50px;
    --container-widget-flex-grow: 0;
}

.elementor-3474 .elementor-element.elementor-element-b46114e > .elementor-widget-container {
    margin: 0% 0% -62% -20%;
    background-color: #6f4bf1;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #6f4bf2;
}

.elementor-3474 .elementor-element.elementor-element-5def874b {
    text-align: center;
}

.elementor-3474 .elementor-element.elementor-element-5def874b .elementor-heading-title {
    color: #ffffff;
    font-family: "Ubuntu", Sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
}

.elementor-3474 .elementor-element.elementor-element-6293c29 {
    color: #e4e4f2;
    font-family: "Open Sans", Sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-3474 .elementor-element.elementor-element-615dd62a .elementor-button .elementor-align-icon-right {
    margin-left: 16px;
}

.elementor-3474 .elementor-element.elementor-element-615dd62a .elementor-button .elementor-align-icon-left {
    margin-right: 16px;
}

.elementor-3474 .elementor-element.elementor-element-615dd62a .elementor-button {
    font-family: "Ubuntu", Sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1.3px;
    fill: #6f4bf2;
    color: #6f4bf2;
    background-color: #ffffff;
    border-style: none;
    border-radius: 100px 100px 100px 100px;
}

.elementor-3474 .elementor-element.elementor-element-615dd62a .elementor-button:hover, .elementor-3474 .elementor-element.elementor-element-615dd62a .elementor-button:focus {
    color: #ffffff;
    background-color: rgba(111,75,242,0);
    border-color: #ffffff;
}

.elementor-3474 .elementor-element.elementor-element-615dd62a .elementor-button:hover svg, .elementor-3474 .elementor-element.elementor-element-615dd62a .elementor-button:focus svg {
    fill: #ffffff;
}

.elementor-3474 .elementor-element.elementor-element-615dd62a > .elementor-widget-container {
    padding: 0em 1em 0em 0em;
}

.elementor-3474 .elementor-element.elementor-element-615dd62a {
    width: auto;
    max-width: auto;
}

.elementor-3474 .elementor-element.elementor-element-7012e72c .elementor-button .elementor-align-icon-right {
    margin-left: 15px;
}

.elementor-3474 .elementor-element.elementor-element-7012e72c .elementor-button .elementor-align-icon-left {
    margin-right: 15px;
}

.elementor-3474 .elementor-element.elementor-element-7012e72c .elementor-button {
    font-family: "Ubuntu", Sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1.3px;
    fill: #ffffff;
    color: #ffffff;
    background-color: #6f4bf2;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #6f4bf2;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.29);
}

.elementor-3474 .elementor-element.elementor-element-7012e72c .elementor-button:hover, .elementor-3474 .elementor-element.elementor-element-7012e72c .elementor-button:focus {
    color: #ffffff;
    background-color: #6f4bf2;
    border-color: #ffffff;
}

.elementor-3474 .elementor-element.elementor-element-7012e72c .elementor-button:hover svg, .elementor-3474 .elementor-element.elementor-element-7012e72c .elementor-button:focus svg {
    fill: #ffffff;
}

.elementor-3474 .elementor-element.elementor-element-7012e72c > .elementor-widget-container {
    padding: 0em 1em 0em 0em;
}

.elementor-3474 .elementor-element.elementor-element-7012e72c {
    width: auto;
    max-width: auto;
}

.elementor-3474 .elementor-element.elementor-element-2a23e441 > .elementor-container {
    max-width: 1200px;
}

.elementor-3474 .elementor-element.elementor-element-2a23e441 {
    padding: 0em 0em 0em 5em;
}

.elementor-bc-flex-widget .elementor-3474 .elementor-element.elementor-element-1f8240f3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-3474 .elementor-element.elementor-element-1f8240f3.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-3474 .elementor-element.elementor-element-1f8240f3:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-3474 .elementor-element.elementor-element-1f8240f3 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-3474 .elementor-element.elementor-element-1f8240f3 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 5em 2em 2em;
}

.elementor-3474 .elementor-element.elementor-element-1f8240f3 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3474 .elementor-element.elementor-element-7b36d76f > .elementor-container {
    max-width: 700px;
}

.elementor-3474 .elementor-element.elementor-element-b445a1a .elementor-heading-title {
    color: #343666;
    font-family: "Ubuntu", Sans-serif;
    font-size: 2.8em;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
}

.elementor-3474 .elementor-element.elementor-element-14b1d8ca {
    color: #343666;
    font-family: "Open Sans", Sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-3474 .elementor-element.elementor-element-6805be8e .elementor-button .elementor-align-icon-right {
    margin-left: 9px;
}

.elementor-3474 .elementor-element.elementor-element-6805be8e .elementor-button .elementor-align-icon-left {
    margin-right: 9px;
}

.elementor-3474 .elementor-element.elementor-element-6805be8e .elementor-button {
    font-family: "Ubuntu", Sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1.3px;
    fill: #6f4bf2;
    color: #6f4bf2;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #6f4bf2;
    border-radius: 100px 100px 100px 100px;
}

.elementor-3474 .elementor-element.elementor-element-6805be8e .elementor-button:hover, .elementor-3474 .elementor-element.elementor-element-6805be8e .elementor-button:focus {
    color: #ffffff;
    background-color: #6f4bf2;
    border-color: #6f4bf2;
}

.elementor-3474 .elementor-element.elementor-element-6805be8e .elementor-button:hover svg, .elementor-3474 .elementor-element.elementor-element-6805be8e .elementor-button:focus svg {
    fill: #ffffff;
}

.elementor-3474 .elementor-element.elementor-element-6805be8e > .elementor-widget-container {
    padding: 1em 1em 0em 0em;
}

.elementor-3474 .elementor-element.elementor-element-6805be8e {
    width: auto;
    max-width: auto;
}

.elementor-3474 .elementor-element.elementor-element-1158e8c > .elementor-element-populated {
    margin: 0% 0% 0% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%;
    padding: 0em 1em 7em 1em;
}

.elementor-3474 .elementor-element.elementor-element-b749c38 {
    text-align: center;
}

.elementor-3474 .elementor-element.elementor-element-b749c38 img {
    width: 63%;
}

.elementor-3474 .elementor-element.elementor-element-b749c38 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-3474 .elementor-element.elementor-element-5378ff30 > .elementor-container {
    min-height: 400px;
}

.elementor-3474 .elementor-element.elementor-element-5378ff30:not(.elementor-motion-effects-element-type-background), .elementor-3474 .elementor-element.elementor-element-5378ff30 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #1c1b40;
}

.elementor-3474 .elementor-element.elementor-element-5378ff30 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 4em 1em 4em 1em;
}

.elementor-3474 .elementor-element.elementor-element-5378ff30 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3474 .elementor-element.elementor-element-193b6598 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3474 .elementor-element.elementor-element-11abb507 {
    --spacer-size: 50px;
    width: var( --container-widget-width, 50px );
    max-width: 50px;
    --container-widget-width: 50px;
    --container-widget-flex-grow: 0;
    top: -82px;
}

.elementor-3474 .elementor-element.elementor-element-11abb507 > .elementor-widget-container {
    margin: 0% 0% -62% -20%;
    background-color: #6f4bf1;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #6f4bf2;
    border-radius: 4px 4px 4px 4px;
}

body:not(.rtl) .elementor-3474 .elementor-element.elementor-element-11abb507 {
    left: 2px;
}

body.rtl .elementor-3474 .elementor-element.elementor-element-11abb507 {
    right: 2px;
}

.elementor-3474 .elementor-element.elementor-element-4fe34242 {
    text-align: center;
}

.elementor-3474 .elementor-element.elementor-element-4fe34242 .elementor-heading-title {
    color: #ffffff;
    font-family: "Ubuntu", Sans-serif;
    font-size: 2.8em;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
}

.elementor-3474 .elementor-element.elementor-element-4fe34242 > .elementor-widget-container {
    margin: 0% 15% 0% 15%;
}

.elementor-3474 .elementor-element.elementor-element-16eeb224 > .elementor-container {
    min-height: 400px;
}

.elementor-3474 .elementor-element.elementor-element-16eeb224 {
    padding: 2em 1em 1em 1em;
}

.elementor-3474 .elementor-element.elementor-element-6c3202ec.elementor-column > .elementor-widget-wrap {
    justify-content: space-evenly;
}

.elementor-3474 .elementor-element.elementor-element-6c3202ec:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-3474 .elementor-element.elementor-element-6c3202ec > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #343666;
}

.elementor-3474 .elementor-element.elementor-element-6c3202ec > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #e4e4f2;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.38);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 1em 1em 1em 1em;
}

.elementor-3474 .elementor-element.elementor-element-6c3202ec > .elementor-element-populated, .elementor-3474 .elementor-element.elementor-element-6c3202ec > .elementor-element-populated > .elementor-background-overlay, .elementor-3474 .elementor-element.elementor-element-6c3202ec > .elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-3474 .elementor-element.elementor-element-6c3202ec > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3474 .elementor-element.elementor-element-1c71e9aa img {
    width: 91%;
}

.elementor-3474 .elementor-element.elementor-element-1c71e9aa > .elementor-widget-container {
    padding: 1em 1em 1em 1em;
}

.elementor-3474 .elementor-element.elementor-element-47007c4d {
    text-align: center;
    color: #e4e4f2;
    font-family: "Open Sans", Sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-3474 .elementor-element.elementor-element-caada69 {
    text-align: center;
    color: #e4e4f2;
    font-family: "Open Sans", Sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-3474 .elementor-element.elementor-element-70cc65eb.elementor-column > .elementor-widget-wrap {
    justify-content: space-evenly;
}

.elementor-3474 .elementor-element.elementor-element-70cc65eb:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-3474 .elementor-element.elementor-element-70cc65eb > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #343666;
}

.elementor-3474 .elementor-element.elementor-element-70cc65eb > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #e4e4f2;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.38);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 1em 1em 1em 1em;
}

.elementor-3474 .elementor-element.elementor-element-70cc65eb > .elementor-element-populated, .elementor-3474 .elementor-element.elementor-element-70cc65eb > .elementor-element-populated > .elementor-background-overlay, .elementor-3474 .elementor-element.elementor-element-70cc65eb > .elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-3474 .elementor-element.elementor-element-70cc65eb > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3474 .elementor-element.elementor-element-5bfde292 img {
    width: 91%;
}

.elementor-3474 .elementor-element.elementor-element-5bfde292 > .elementor-widget-container {
    padding: 1em 1em 1em 1em;
}

.elementor-3474 .elementor-element.elementor-element-79827642 {
    text-align: center;
    color: #e4e4f2;
    font-family: "Open Sans", Sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-3474 .elementor-element.elementor-element-79827642 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-3474 .elementor-element.elementor-element-d4a2eac {
    text-align: center;
    color: #e4e4f2;
    font-family: "Open Sans", Sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-3474 .elementor-element.elementor-element-d4a2eac > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-3474 .elementor-element.elementor-element-4e30a62f.elementor-column > .elementor-widget-wrap {
    justify-content: space-evenly;
}

.elementor-3474 .elementor-element.elementor-element-4e30a62f:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-3474 .elementor-element.elementor-element-4e30a62f > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #343666;
}

.elementor-3474 .elementor-element.elementor-element-4e30a62f > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #e4e4f2;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.38);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 1em 1em 1em 1em;
}

.elementor-3474 .elementor-element.elementor-element-4e30a62f > .elementor-element-populated, .elementor-3474 .elementor-element.elementor-element-4e30a62f > .elementor-element-populated > .elementor-background-overlay, .elementor-3474 .elementor-element.elementor-element-4e30a62f > .elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-3474 .elementor-element.elementor-element-4e30a62f > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3474 .elementor-element.elementor-element-154d1c75 img {
    width: 91%;
}

.elementor-3474 .elementor-element.elementor-element-154d1c75 > .elementor-widget-container {
    padding: 1em 1em 1em 1em;
}

.elementor-3474 .elementor-element.elementor-element-10d1e22f {
    text-align: center;
    color: #e4e4f2;
    font-family: "Open Sans", Sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-3474 .elementor-element.elementor-element-e673f90 {
    text-align: center;
    color: #e4e4f2;
    font-family: "Open Sans", Sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-3474 .elementor-element.elementor-element-2cab304b > .elementor-container {
    max-width: 960px;
}

.elementor-3474 .elementor-element.elementor-element-2cab304b:not(.elementor-motion-effects-element-type-background), .elementor-3474 .elementor-element.elementor-element-2cab304b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #e4e4f2;
}

.elementor-3474 .elementor-element.elementor-element-2cab304b > .elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3474 .elementor-element.elementor-element-2cab304b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 4em 1em 10em 1em;
}

.elementor-bc-flex-widget .elementor-3474 .elementor-element.elementor-element-6a6b6b12.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-3474 .elementor-element.elementor-element-6a6b6b12.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-3474 .elementor-element.elementor-element-6a6b6b12 > .elementor-element-populated {
    padding: 1em 6em 1em 1em;
}

.elementor-3474 .elementor-element.elementor-element-1f73da87 .elementor-heading-title {
    color: #343666;
    font-family: "Ubuntu", Sans-serif;
    font-size: 2.8em;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
}

.elementor-3474 .elementor-element.elementor-element-538bc499 {
    color: #343666;
    font-family: "Open Sans", Sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-3474 .elementor-element.elementor-element-754310c3 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3474 .elementor-element.elementor-element-754310c3 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3474 .elementor-element.elementor-element-19573a66 {
    --spacer-size: 50px;
    width: var( --container-widget-width, 50px );
    max-width: 50px;
    --container-widget-width: 50px;
    --container-widget-flex-grow: 0;
}

.elementor-3474 .elementor-element.elementor-element-19573a66 > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    background-color: #6f4bf1;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #6f4bf2;
    border-radius: 100px 100px 100px 100px;
}

.elementor-3474 .elementor-element.elementor-element-2b64896b:not(.elementor-motion-effects-element-type-background), .elementor-3474 .elementor-element.elementor-element-2b64896b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-3474 .elementor-element.elementor-element-2b64896b > .elementor-background-overlay {
    opacity: 0.32;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3474 .elementor-element.elementor-element-2b64896b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 6em 1em 6em 1em;
}

.elementor-bc-flex-widget .elementor-3474 .elementor-element.elementor-element-63b54add.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-3474 .elementor-element.elementor-element-63b54add.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-3474 .elementor-element.elementor-element-63b54add.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-3474 .elementor-element.elementor-element-8564866 {
    text-align: center;
}

.elementor-3474 .elementor-element.elementor-element-8564866 .elementor-heading-title {
    color: #ffffff;
    font-family: "Ubuntu", Sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
}

.elementor-3474 .elementor-element.elementor-element-44841d26 {
    text-align: center;
}

.elementor-3474 .elementor-element.elementor-element-44841d26 .elementor-heading-title {
    color: #ffffff;
    font-family: "Ubuntu", Sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    line-height: 1.4em;
}

.elementor-3474 .elementor-element.elementor-element-4bed47e {
    text-align: center;
    color: #FFFFFF;
    font-family: "Open Sans", Sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-3474 .elementor-element.elementor-element-35041a1d .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-3474 .elementor-element.elementor-element-35041a1d .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-3474 .elementor-element.elementor-element-35041a1d .elementor-button {
    font-family: "Ubuntu", Sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1.3px;
    background-color: #FFFFFF00;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 100px 100px 100px 100px;
}

.elementor-3474 .elementor-element.elementor-element-35041a1d .elementor-button:hover, .elementor-3474 .elementor-element.elementor-element-35041a1d .elementor-button:focus {
    color: #ffffff;
    background-color: #6f4bf2;
    border-color: #6f4bf2;
}

.elementor-3474 .elementor-element.elementor-element-35041a1d .elementor-button:hover svg, .elementor-3474 .elementor-element.elementor-element-35041a1d .elementor-button:focus svg {
    fill: #ffffff;
}

.elementor-3474 .elementor-element.elementor-element-35041a1d > .elementor-widget-container {
    padding: 1em 1em 0em 0em;
}

.elementor-3474 .elementor-element.elementor-element-35041a1d {
    width: auto;
    max-width: auto;
}

.elementor-3474 .elementor-element.elementor-element-1426a6e .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-3474 .elementor-element.elementor-element-1426a6e .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-3474 .elementor-element.elementor-element-1426a6e .elementor-button {
    font-family: "Ubuntu", Sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1.3px;
    background-color: #FFFFFF00;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 100px 100px 100px 100px;
}

.elementor-3474 .elementor-element.elementor-element-1426a6e .elementor-button:hover, .elementor-3474 .elementor-element.elementor-element-1426a6e .elementor-button:focus {
    color: #ffffff;
    background-color: #6f4bf2;
    border-color: #6f4bf2;
}

.elementor-3474 .elementor-element.elementor-element-1426a6e .elementor-button:hover svg, .elementor-3474 .elementor-element.elementor-element-1426a6e .elementor-button:focus svg {
    fill: #ffffff;
}

.elementor-3474 .elementor-element.elementor-element-1426a6e > .elementor-widget-container {
    padding: 1em 1em 0em 0em;
}

.elementor-3474 .elementor-element.elementor-element-1426a6e {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-3474 .elementor-element.elementor-element-669e8aa4 img {
    width: 20%;
}

@media(min-width: 768px) {
    .elementor-3474 .elementor-element.elementor-element-1f8240f3 {
        width:47.203%;
    }

    .elementor-3474 .elementor-element.elementor-element-1158e8c {
        width: 52.797%;
    }

    .elementor-3474 .elementor-element.elementor-element-6a6b6b12 {
        width: 47.784%;
    }

    .elementor-3474 .elementor-element.elementor-element-754310c3 {
        width: 52.216%;
    }
}

@media(max-width: 1199px) {
    .elementor-3474 .elementor-element.elementor-element-5def874b .elementor-heading-title {
        font-size:44px;
    }
}

@media(max-width: 991px) {
    .elementor-3474 .elementor-element.elementor-element-7d113837 > .elementor-container {
        max-width:500px;
    }

    .elementor-3474 .elementor-element.elementor-element-7d113837 {
        padding: 1em 1em 1em 1em;
    }

    .elementor-bc-flex-widget .elementor-3474 .elementor-element.elementor-element-6d6b0f38.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-3474 .elementor-element.elementor-element-6d6b0f38.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-3474 .elementor-element.elementor-element-6d6b0f38.elementor-column > .elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-3474 .elementor-element.elementor-element-5def874b {
        text-align: center;
    }

    .elementor-3474 .elementor-element.elementor-element-6293c29 {
        text-align: center;
    }

    .elementor-3474 .elementor-element.elementor-element-2a23e441 > .elementor-container {
        max-width: 1200px;
    }

    .elementor-3474 .elementor-element.elementor-element-2a23e441 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-3474 .elementor-element.elementor-element-2cab304b {
        padding: 3em 1em 3em 1em;
    }

    .elementor-3474 .elementor-element.elementor-element-669e8aa4 img {
        width: 77%;
    }
}

@media(max-width: 767px) {
    .elementor-3474 .elementor-element.elementor-element-5def874b .elementor-heading-title {
        font-size:1.8em;
    }

    .elementor-3474 .elementor-element.elementor-element-615dd62a > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3474 .elementor-element.elementor-element-615dd62a {
        width: 100%;
        max-width: 100%;
    }

    .elementor-3474 .elementor-element.elementor-element-7012e72c > .elementor-widget-container {
        padding: 1em 0em 0em 0em;
    }

    .elementor-3474 .elementor-element.elementor-element-7012e72c {
        width: 100%;
        max-width: 100%;
    }

    .elementor-3474 .elementor-element.elementor-element-1f8240f3 > .elementor-element-populated {
        padding: 1em 1em 1em 1em;
    }

    .elementor-3474 .elementor-element.elementor-element-6805be8e > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3474 .elementor-element.elementor-element-6805be8e {
        width: 100%;
        max-width: 100%;
    }

    .elementor-3474 .elementor-element.elementor-element-4fe34242 .elementor-heading-title {
        font-size: 1.6rem;
    }

    .elementor-3474 .elementor-element.elementor-element-16eeb224 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-3474 .elementor-element.elementor-element-2cab304b {
        padding: 1em 1em 0em 1em;
    }

    .elementor-3474 .elementor-element.elementor-element-6a6b6b12 > .elementor-element-populated {
        padding: 1em 1em 1em 1em;
    }

    .elementor-3474 .elementor-element.elementor-element-1f73da87 {
        text-align: center;
    }

    .elementor-3474 .elementor-element.elementor-element-1f73da87 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-3474 .elementor-element.elementor-element-538bc499 {
        text-align: center;
        font-size: 1.6rem;
    }

    .elementor-3474 .elementor-element.elementor-element-2b64896b {
        padding: 1em 1em 1em 1em;
    }

    .elementor-3474 .elementor-element.elementor-element-8564866 {
        text-align: center;
    }

    .elementor-3474 .elementor-element.elementor-element-8564866 .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-3474 .elementor-element.elementor-element-44841d26 {
        text-align: center;
    }

    .elementor-3474 .elementor-element.elementor-element-4bed47e {
        text-align: center;
        font-size: 1.8rem;
    }

    .elementor-3474 .elementor-element.elementor-element-35041a1d > .elementor-widget-container {
        margin: 0px 0px 8px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3474 .elementor-element.elementor-element-35041a1d {
        width: 100%;
        max-width: 100%;
    }

    .elementor-3474 .elementor-element.elementor-element-1426a6e > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3474 .elementor-element.elementor-element-1426a6e {
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width: 991px) and (min-width:768px) {
    .elementor-3474 .elementor-element.elementor-element-6d6b0f38 {
        width:100%;
    }
}
